[submodule "SMSML_Wildan-Mufid-Ramadhan/Eksperimen_SML_Wildan-Mufid-Ramadhan"]
	path = SMSML_Wildan-Mufid-Ramadhan/Eksperimen_SML_Wildan-Mufid-Ramadhan
	url = https://github.com/wildanmr/Eksperimen_SML_Wildan-Mufid-Ramadhan.git
[submodule "SMSML_Wildan-Mufid-Ramadhan/Eksperimen_SML_WorkflowCI_Wildan-Mufid-Ramadhan"]
	path = SMSML_Wildan-Mufid-Ramadhan/Eksperimen_SML_WorkflowCI_Wildan-Mufid-Ramadhan
	url = https://github.com/wildanmr/Eksperimen_SML_WorkflowCI_Wildan-Mufid-Ramadhan.git
