{{ define "slack.default.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{ end }}

{{ define "slack.default.message" }}
{{ if gt (len .Alerts.Firing) 0 }}
*Firing Alerts:*
{{ range .Alerts.Firing }}
*Alert:* {{ .Labels.alertname }}{{ if .Labels.severity }} - `{{ .Labels.severity }}`{{ end }}
*Description:* {{ .Annotations.description }}
*Service:* {{ .Labels.service }}
*Team:* {{ .Labels.team }}
*Duration:* {{ duration .StartsAt .EndsAt }}
{{ if .Annotations.runbook_url }}*Runbook:* {{ .Annotations.runbook_url }}{{ end }}
{{ end }}
{{ end }}

{{ if gt (len .Alerts.Resolved) 0 }}
*Resolved Alerts:*
{{ range .Alerts.Resolved }}
*Alert:* {{ .Labels.alertname }}{{ if .Labels.severity }} - `{{ .Labels.severity }}`{{ end }}
*Service:* {{ .Labels.service }}
*Team:* {{ .Labels.team }}
{{ end }}
{{ end }}
{{ end }}